In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import json
from pathlib import Path
from typing import Callable, Tuple, Union

import pandas as pd
import torch
import torch.nn.functional as F
from torch.utils.data import Dataset
from torchvision.io import read_image

In [3]:
dataroot = '/work/amirkl/DL4CV/end-to-end-chess-recognition/chessReD'

In [4]:
data_path=Path(dataroot, 'annotations.json')
if not data_path.is_file():
    raise(FileNotFoundError(f"File '{data_path}' doesn't exist."))

In [5]:
with open(data_path, 'r') as f:
    annotations_file = json.load(f)

In [6]:
print(annotations_file.keys())
annotations_file['splits']['chessred2k']['train'].keys()

dict_keys(['info', 'images', 'annotations', 'categories', 'splits'])

dict_keys(['image_ids', 'n_samples'])

In [8]:
annotations_file['info']

{'description': 'Chess Recognition Dataset (ChessReD)',
 'version': '1.0',
 'year': 2023,
 'date_created': '26/08/2023',
 'author': 'Athanasios Masouris'}

In [11]:
annotations = pd.DataFrame(
    annotations_file['annotations']['pieces']
)
categoreis = pd.DataFrame(
    annotations_file['categories']
)
images = pd.DataFrame(
    annotations_file['images']
)
annotations

,image_id,category_id,chessboard_position,id,bbox
0,0,7,a8,0,"[510.34, 963.65, 155.75, 186.14]"
1,0,8,b8,1,"[692.17, 877.29, 154.48, 211.46]"
2,0,9,c8,2,"[877.04, 815.25, 130.42, 205.13]"
3,0,10,d8,3,"[1041.65, 703.82, 146.88, 264.64]"
4,0,11,e8,4,"[1215.12, 608.85, 136.75, 303.9]"
...,...,...,...,...,...
223799,10799,11,a3,223799,"[945.57, 645.7, 142.18, 336.45]"
223800,10799,0,b3,223800,"[979.14, 920.38, 103.63, 174.92]"
223801,10799,0,a2,223801,"[758.9, 825.93, 103.64, 172.72]"
223802,10799,1,e2,223802,"[827.43, 1296.85, 133.15, 217.32]"
223803,10799,7,d1,223803,"[581.57, 1188.01, 132.52, 209.77]"

In [91]:
categoreis

    id          name
0    0    white-pawn
1    1    white-rook
2    2  white-knight
3    3  white-bishop
4    4   white-queen
5    5    white-king
6    6    black-pawn
7    7    black-rook
8    8  black-knight
9    9  black-bishop
10  10   black-queen
11  11    black-king
12  12         empty

In [101]:
categoreis.iloc[2]['name'].split('-')[0]

'white'

In [123]:
from dataset import SamDataset
from sklearn.model_selection import train_test_split
dataset = SamDataset(dataroot=dataroot, split='train', classifier='pt')

In [124]:
print(f'{len(dataset)=}')
print(f'{len(dataset.split_img_ids)=}')

len(dataset)=30723
len(dataset.split_img_ids)=1442

In [125]:
a = dataset.__getitem__(15)

In [126]:
a[1]

'pawn'